[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A delightful community-driven (with 1,000+ contributors) framework for managing your zsh configuration. Includes 200+ optional plugins (rails, git, OSX, hub, capistrano, brew, ant, php, python, etc), over 140 themes to spice up your morning, and an auto-update tool so that makes it easy to keep up with the latest updates from the community.
[access "refs/*"]
	owner = group user/Walter A. Boring IV (hemna)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Walter A. Boring IV (hemna)
	label-Verified = -1..+1 group user/Walter A. Boring IV (hemna)
	push = group user/Walter A. Boring IV (hemna)
	read = group user/Walter A. Boring IV (hemna)
	rebase = group user/Walter A. Boring IV (hemna)
	removeReviewer = group user/Walter A. Boring IV (hemna)
	submit = group user/Walter A. Boring IV (hemna)
[access "refs/heads/*"]
	create = group user/Walter A. Boring IV (hemna)
	push = +force group user/Walter A. Boring IV (hemna)
	pushMerge = group user/Walter A. Boring IV (hemna)
	read = group user/Walter A. Boring IV (hemna)
[access "refs/tags/*"]
	push = group user/Walter A. Boring IV (hemna)
	push = +force group user/Walter A. Boring IV (hemna)
